.App {
  text-align: left;
  padding: 1rem 3rem;
  
}

.navbar {
  padding: 0px !important;
}

.navigationBar {
  margin: 0.5rem auto 0;
  max-width: 60rem;
  width: 100%;
}

.home {
  /* display: flex;
  align-self: flex-start;
  align-items: flex-start; */
  margin: auto;
  max-width: 60rem;
  width: 100%;
  left: 50%;
  right: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.home h1 {
  font-size: 4.375rem;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.01562em;
}

.home h3 {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 0em;
}

.home p {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 0em;
}

.about {
  margin: auto;
  max-width: 60rem;
  width: 100%;
  left: 50%;
  right: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.about h1 {
  font-size: 4.375rem;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.01562em;
}

.about h3 {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 0em;
}

.about p {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 0em;
  /* width: 50%; */
  
}

.apps-container {
  width: 60rem;
  margin: auto;
}


@media (max-width: 1062px) {
  .home {
    padding-left: 3em;
    padding-right: 3em;
  }
  .home h1 {
    font-size: 3.5rem;
  }
  .home p {
    font-size: 1.3125rem;
  }

  .about {
    padding-left: 3em;
    padding-right: 3em;
  }
  .about h1 {
    font-size: 3.5rem;
  }
  .about p {
    font-size: 1.3125rem;
  }
  .apps-container {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 590px) {
  .home h1 {
      font-size: 2.5rem;
  }
  .home p {
    font-size:1.125rem ;
  }
  .about h1 {
    font-size: 2.5rem;
  }
  .about p {
    font-size: 1.125rem;
  }
}

/* @media (min-width: 1062px) {
  .home {
    width: 50rem;
    left: calc(100% - 50rem) / 2;
  }
} */